.accordion {
    margin-bottom: 30px;
    border: 1px solid #afaeb8;
    border-radius: 4px;
    font-size: 13px;
}

.accordion-button {
    width: 100%;
    padding: 20px;
    text-align: left;
    background-color: #F4F4F4;
    border-right: none;
    border-left: none;
    border-top: 1px solid #afaeb8;
    border-bottom: 1px solid #afaeb8;
    color: #1d8ffa;
    font-weight: bold;
}

.accordion-text {
    display: none;
    padding: 20px;
}