@import "./reset";

/* Global */

body {
    margin: 5% auto;
    width: 500px;
    padding: 40px;
    position: relative;
    border: 12px solid rgb(114, 108, 108);
    border-radius: 20px;
    box-shadow: 0 0 10px #b3b3b3;
    font-size: 15px;
    font-family: Roboto-Light;
    line-height: 1.4;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: Lobster-Regular;
    letter-spacing: 3px;
    font-size: 45px;
    color: rgb(66, 64, 64);
}

h2 {
    margin-bottom: 10px;
    font-family: Lobster-Regular;
    font-size: 25px;
    letter-spacing: 3px;
    color: rgb(66, 64, 64);
}

hr {
    margin-bottom: 25px
}

@import "./dropdown";
@import "./accordion";
@import "./modal";